<launch>
  <arg name="world" default="wall.world"/> 
  <arg name="model" default="rubot_mecanum.xacro" />
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find nexus_control)/worlds/$(arg world)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- Load robot description -->
  <include file="$(find nexus_mecanum)/launch/display.launch" />

  <!-- Spawn the robot -->
    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
      args="-urdf -model rubot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  
  <!-- run navigation program   -->
    <arg name="distance_laser" default="0.5" />
    <arg name="speed_factor" default="0.1" />
    <arg name="forward_speed" default="2" />
    <arg name="backward_speed" default="-2" />
    <arg name="rotation_speed" default="10" />
  <node name="rubot_nav" pkg="nexus_control" type="rubot_LIDAR_Test.py" output="screen" >
        <param name="distance_laser" value="$(arg distance_laser)"/>
        <param name="speed_factor" value="$(arg speed_factor)"/>
        <param name="forward_speed" value="$(arg forward_speed)"/>
        <param name="backward_speed" value="$(arg backward_speed)"/>
        <param name="rotation_speed" value="$(arg rotation_speed)"/>
  </node>
</launch>