<launch>
  <arg name="open_rviz" default="true"/>
  <!-- SLAM using Gmapping -->
  <include file="$(find mecanum_slam)/launch/gmapping.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find mecanum_slam)/rviz/gmapping.rviz"/>
  </group>
</launch>
