<?xml version="1.0"?>
<launch>
  <!-- Robot model to match with that of Gazebo or the physical robot -->
  <arg name="model" default="rubot_mecanum.xacro"/>
  <!-- More arguments -->
  <arg name="multi_robot_name" default=""/>

  <!-- GoPiGo3 URDF model & robot_state_publisher -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find nexus_4wd_mecanum_description)/urdf/$(arg model)" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value="$(arg multi_robot_name)"/>
  </node>

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

</launch>
